# TP1: Data Exploration

## Winter 2023 - BIN710 Data Mining (UdeS)

First assignement as part of the Data Mining class at UdeS.

Student name : Simon Lalonde

### Directory structure

├── TP1_data.csv    ---> Data

├── tp1.ipynb   ---> Jupyter Notebook

└── TP1.pdf    ---> Tasks to complete

### Metadata
csv file with :
- 59 objects
- 4 features
- 3 classes (as factors)

### Goal
Are all 4 features relevant for a classification task. The classifier will be distance based (KNN with K=5 or nearest centroid classifier)

### 1. Data Representation

In [9]:
import pandas as pd
import numpy as np
from pathlib import Path

Read, inspect and check for inconsistencies

In [10]:
datafile = Path("TP1_data.csv")
df = pd.read_csv(datafile, index_col=0)
df.head()

     attribut1  attribut2  attribut3  attribut4  classe
id1       38.0       33.0       10.0       19.0       0
id2       38.2       23.4       17.0       16.6       0
id3       33.0       24.0       19.0       23.0       0
id4       31.0       21.0       29.0       16.0       0
id5       37.0       27.0       24.0       12.0       0

In [11]:
# Check types, NaN or negative data
print(f"Data types : {np.unique(df.dtypes.to_list())}") # types

print(f"Number of rows with any NaN : {len(df.isna().any()[df.isna().any()])}") #NaN

# Check for neg data
print(f"Number of cols with negative values : {len((df < 0).any()[(df < 0).any()].index)}") # Negative vals

Data types : [dtype('int64') dtype('float64')]
Number of rows with any NaN : 0
Number of cols with negative values : 0

      attribut1  attribut2  attribut3  attribut4  classe
id1       False      False      False      False   False
id2       False      False      False      False   False
id3       False      False      False      False   False
id4       False      False      False      False   False
id5       False      False      False      False   False
id6       False      False      False      False   False
id7       False      False      False      False   False
id8       False      False      False      False   False
id9       False      False      False      False   False
id10      False      False      False      False   False
id11      False      False      False      False   False
id12      False      False      False      False   False
id13      False      False      False      False   False
id14      False      False      False      False   False
id15      False      False      False      False   False
id16      False      False      False      False   False
id17      False      False      False      False   False
id18      False      False      False      False   False
id19      False      False      False      False   False
id20      False      False      False      False   False
id21      False      False      False      False   False
id22      False      False      False      False   False
id23      False      False      False      False   False
id24      False      False      False      False   False
id25      False      False      False      False   False
id26      False      False      False      False   False
id27      False      False      False      False   False
id28      False      False      False      False   False
id29      False      False      False      False   False
id30      False      False      False      False   False
id31      False      False      False      False   False
id32      False      False      False      False   False
id33      False      False      False      False   False
id34      False      False      False      False   False
id35      False      False      False      False   False
id36      False      False      False      False   False
id37      False      False      False      False   False
id38      False      False      False      False   False
id39      False      False      False      False   False
id40      False      False      False      False   False
id41      False      False      False      False   False
id42      False      False      False      False   False
id43      False      False      False      False   False
id44      False      False      False      False   False
id45      False      False      False      False   False
id46      False      False      False      False   False
id47      False      False      False      False   False
id48      False      False      False      False   False
id49      False      False      False      False   False
id50      False      False      False      False   False
id51      False      False      False      False   False
id52      False      False      False      False   False
id53      False      False      False      False   False
id54      False      False      False      False   False
id55      False      False      False      False   False
id56      False      False      False      False   False
id57      False      False      False      False   False
id58      False      False      False      False   False
id59      False      False      False      False   False